.container-home {
    .p-home {
        @extend %parrafos;
        width: 100%;
        top: 5%;

    }

    .nosotros {
        display: flex;
        justify-content: space-around;

        @media only screen and (max-width: 450px) {
            display: block;
        }

        @media only screen and (min-width: 451px) and (max-width: 960px) {
            display: block;
        }

        #maps {
            @media only screen and (max-width: 450px) {
                width: 380px;
                height: 230px;
                border: solid gray 3px;
                margin: 15px;
            }

            @media only screen and (min-width: 451px) and (max-width: 960px) {
                width: 475px;
                height: 325px;
                border: solid gray 3px;
                margin: 20px;

            }
        }

        .equipo {
            .foto-equipo {
                width: 600px;
                height: 450px;
                border: solid gray 3px;

                @media only screen and (max-width: 450px) {
                    width: 380px;
                    height: 240px;
                    border: solid gray 3px;
                    margin: 15px;
                }

                @media only screen and (min-width: 451px) and (max-width: 960px) {
                    width: 475px;
                    height: 325px;
                    border: solid gray 3px;
                    margin: 20px;
                }
            }

        }
    }
}