section {
  h1 {
    @extend %title
  }

  .container {
    margin-bottom: 40px;

    .proy-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }
  }
}