@import'../base/variables';
@import'../base/listas';


main{
  .text-servicio{
    font-size: nth($font-size,2 );
    text-align: center;
    width: 100%;
    top: 5%;
    color:$font-color;
    line-height: 2;
    @media only screen and (max-width: 450px){
      font-size: nth($font-size,4 ) ;
  }
  @media only screen and (min-width: 451px) and (max-width: 960px){
      font-size:nth($font-size,3 ) ;
  }
  }
  .sub-title{
    font-size: nth($font-size,5);
    text-align: center;
    font-weight: 100;
    padding: 20px;
    text-decoration: none;
    width: 100%;
    @media only screen and (max-width: 450px) {
        font-size: nth($font-size,1 );
      }
    .colorServ{
      color: $font-color;
      text-decoration: none;
    }
  }
  .img-servicios{
    width: 100%;
    height: 800px;
    justify-content: center;
    @media only screen and (max-width: 450px) {
        width: 380px;
        height: 300px;
        margin: 30px;
      }
      @media only screen and (min-width: 451px) and (max-width: 960px){
        width: 580px;
        height: 500px;
        margin: 50px;
    }
  }
}


